#wrapper {
    display: flex;
}


.posthtml {
    width: 50vw;
}

.postedit {
    width: 50vw;
    position: fixed;
    right: 0;
    top: 30;
}

.postContainer {
    border: 0.1px solid black;
    
    
}